/* General styles */
body {
    font-family: Arial;
    text-align: center;
    font-size: 18px;
    margin-top: 6%;
    margin-bottom: -4%;
}

svg {
    display: block;
    margin: 0 auto;
    border: 2px solid #ccc; 
    border-radius: 100px;
    padding: 2%; 
}

.title {
    font-family: Arial;
    font-size: 30px;
    font-weight: bold;
    text-anchor: middle;
    fill: rgb(121, 118, 118);
}

.labels {
    font-family: Arial;
    font-size: 28px;
    fill: rgb(121, 118, 118);

}
.tick text {
    font-family: Arial;
    font-size: 20px;
    fill: rgb(121, 118, 118);
}

.tick line {
    stroke: lightgray;
}

circle {
    fill: steelblue;
    opacity: 0.3;
}


